<header>
    <div style="justify-content: center; display: flex; align-items: center;">
        <div>
            <img src="../assets/images/huevos.jpg" style="border-radius: 50%; margin: 20px 20px 20px 20px; border: 1px solid black;" width="250px" height="150px">
        </div>
        <div>
            <h2><a href="welcome" style="text-decoration: none; color: black;">{{title}}</a></h2>
            <br/>
            <p>Nombre de la granja: <strong>{{farmName}}</strong></p>
        </div>
        <div>
            <img src="../assets/images/pollos.jpg" style="border-radius: 50%; margin: 20px 20px 20px 20px; border: 1px solid black;" width="250px" height="150px">
        </div>
    </div>
</header>
<main>
    <nav>
        <ul>
             <li>
                Huevos
                <ul>
                    <li><a [routerLink]="['eggList']">Listar</a></li>
                    <li><a [routerLink]="['purchaseEggList']">Comprar</a></li>
                    <li><a [routerLink]="['saleEggList']">Vender</a></li>
                </ul>
            <li>
                Gallinas
                <ul>
                    <li><a [routerLink]="['chickenList']">Listar</a></li>
                    <li><a [routerLink]="['purchaseChickenList']">Comprar</a></li>
                    <li><a [routerLink]="['saleChickenList']">Vender</a></li>
                </ul>
            </li>
            <li>
                Reportes
                <ul>
                    <li><a [routerLink]="['reportCurrentStatus']">Situación actual</a></li>
                </ul>
            </li>
        </ul>
        <div style="border: 1px solid black; background-color: cornflowerblue">
            <div style="text-align: center;">
                <button type="button" style="margin-bottom: 20px; margin-top: 20px;" (click)="setDate('1')">Sumar 1 día a la fecha</button>
            </div>
            <div style="text-align: center;">
                <p><strong>Fecha: {{newDate}}</strong></p>
            </div>
        </div>
    </nav>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>
<footer>
    <h6>Copyright &#169; Todos los derechos reservados.</h6>
</footer>
